aside {
    position: fixed;
    top: 0;
    left: -100%;
    width: 30rem;
    max-width: 80%;
    height: 100%;
    background: #f3f3f3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    transition: left 0.3s ease-out;
    z-index: 100;
}

:host([opened]) aside {
    left: 0;
}

header {
    position: relative;
    padding: 1rem;
    background: black;
}

header h1 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

header button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color: white;
    background: transparent;
    font-size: 1.5rem;
    border: none;
}

header button:focus {
    outline: none;
}

#tabs {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

#tabs button {
    width: 30%;
    padding: 0.15rem 0;
    background: white;
    color: black;
    text-align: center;
    border: 1px solid black;
    font: inherit;
}

#tabs button.active,
#tabs button:hover,
#tabs button:active {
    background: black;
    color: white;
}

#tabs button:focus {
    outline: none;
}

#contact-information {
    padding: 0 1rem;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    z-index: 10;
    display: none;
}

:host([opened]) .backdrop {
    display: block;
}

